{% extends 'base.html.twig' %}

{% block title %}Dodawanie użytkownika{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Dodawanie użytkownika</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.password_hash) }}

        <button type="submit" class="btn">Zapisz</button>
    {{ form_end(registrationForm) }}
{% endblock %}